html, body {
    height: 100%;
    background-color: #DCDCDC;  /* blue */
    font-family: "Verdana";
}
h1{
    text-align: center;
    font-weight: normal;
    font-family: "verdana";
    background: #660033;
    padding: 5px 15px;
    color: white;
    display:block;     /*establece el tipo de caja*/
    border-radius: 30px 30px 30px 30px;
}
#nayra{
    float:right;
}
#josue{
    float:left;
}
#repo{
    text-align:center;
}

a:link{
    text-decoration:none;
    color: #660033;
}
a:hover{
    color: #660033;
    text-decoration:underline;
}

th, td
{
    text-align: center;
    vertical-align: top;
    text-align: right;
<<<<<<< HEAD
    font-size:large;
}
.pie{
    width: 100%;
    height: 10px;
    position:relative;
    font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size:22px;
}
fieldset{
    background: #E6E6E6;
    border-radius: 30px 30px 30px 30px;
}

#converted      /*estilo para el resultado*/
{
    color: green;
    font-weight: bold;
    font-size:large;

}
input
{
    margin-left: 20px;
}

#container{
    height:100%;
    width: 100%;
    margin-bottom:-50px;
    position:relative;
}

#seccion_central
{
    margin-top:50px;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #222;
    font-size: large;
}

footer a {
    color: #FFF;
    text-decoration: none;
}

.app {
    margin-top: 10%;
}

h4 {
    font-weight: 500;
}

span {
    color: green;
}

@media (max-width: 550px) {
    footer {
        text-align: center;
    }
}
